{#{% extends "header.html" %}#}
{#{% block body %}#}
{#    <body class="body">#}
{#    <div class="container">#}
{#        <p>{{page}}</p>#}
{#        <p>{{article}}</p>#}
{#    </div>#}
{#    </body>#}
{#{% endblock %}#}

{% extends "header.html" %}
{% block body %}
    <body class="body">
    <div class="container">
        <p>{{urlpath}}</p>
    </div>
    </body>
{% endblock %}