{% extends "header.html" %}
{% block body %}
    <body class="body">
    <div class="container" align="left">
        <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
    </div>
    </body>
{% endblock %}