{% extends "header.html" %}
{% block body %}

    <head>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type=text/javascript>
            $(function() {
                $('a#process_input').bind('click', function() {
                    //console.log($('input[name="proglang"]').val());
                    $.getJSON('/background_process', {
                        proglang: $('input[name="proglang"]').val(),
                    }, function(data) {
                        console.log(data)
                        $("#result").text(data.result);
                    });
                    return false;
                });
            });
        </script>
    </head>
    <body>

    <div class='container'>
        <form>
            <h3>Welcome! Which is the best programming language of them all?</h3>
            <input type="text" size="5" name="proglang">
            <a href=# id="process_input"><button class='btn btn-default'>Submit</button></a>
        </form>
        <p id="result"></p>
    </div>
    </body>
{% endblock %}