{% extends "header.html" %}
{% block body %}
    <body class="body">
    <div class="container">
        {% for d in data %}
            <p>{{d}}</p>
        {% endfor %}
        <hr>
        {% if data[1]|int > 10%}
            <p>True!</p>
        {% endif %}
        <hr>
        <p>{{data[2]|replace('good','FREAKIN AWESOME!')}}</p>
        <hr>
        {% for lang in data[3].split(',') %}
            <p>{{lang}}</p>
        {% endfor %}
        <hr>
        {{data[4]|safe}}
        <hr>
        To show exactly whats written in Jinja code: <br>
        {% raw %}
        {% for item in data %}
        {{ item }}
        {% endfor %}
        {% endraw %}

        {% macro input(name, value='', type='text', size=20) -%}  {# see the '-' sign in the end and the begin of endmacro -> formats source code #}
            <input type="{{ type }}" name="{{ name }}" value="{{
                    value|e }}" size="{{ size }}">
        {%- endmacro %}

        The macro can then be called like a function in the namespace:

        <p>{{ input('username') }}</p>
        <p>{{ input('password', type='password') }}</p>

    </div>
    </body>
{% endblock %}